    @font-face {
        font-family: 'Roboto';
        src: url('/fonts/Roboto-Regular.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Roboto';
        src: url('/fonts/Roboto-Medium.ttf') format('truetype');
        font-weight: 500;
        font-style: medium;
        font-display: swap;
    }

    @font-face {
        font-family: 'Roboto';
        src: url('/fonts/Roboto-Bold.ttf') format('truetype');
        font-weight: 800;
        font-style: bold;
        font-display: swap;
    }

    @font-face {
        font-family: 'Segoe UI';
        src: url('/fonts/SegoeUI-Variable-Static-Regular.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Segoe UI';
        src: url('/fonts/SegoeUILight.ttf') format('truetype');
        font-weight: 300;
        font-style: light;
        font-display: swap;
    }

    @font-face {
        font-family: 'Inter';
        src: url('/fonts/Inter-Regular.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Inter';
        src: url('/fonts/Inter-Bold.ttf') format('truetype');
        font-weight: 800;
        font-style: Bold;
        font-display: swap;
    }
  
.notification-modal {
    font-family: 'Inter', sans-serif;
    position: absolute;
    background: #f1f2f4;
    color: #151515;
    padding: 20px;
    z-index: 1000;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1999;
}

.modal-header {
    text-align: center;
    margin-bottom: 20px;
}

.modal-header img {
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
   
}

.modal-title {
    font-size: 1.5rem;
    font-weight: 800;
    margin: 0;
}

.modal-notification {
    text-align: left;
    font-size: 1.2rem;
    padding: 20px;
    margin-bottom: 10px;
}

/*config da ol usando list-style-type utilisanso estilo manual ::marker*/

.modal-notification ol {
  list-style: none;
  counter-reset: item;
  padding-left: 0;
}

.modal-notification ol li {
  position: relative;
  padding-left: 2.5em;
  margin-bottom: 0.75em;
  counter-increment: item;
  align-items: center;
  display: flex;
}

.modal-notification ol li::before {
  content: counter(item);
  position: absolute;
  left: 0;
  width: 1.8em;
  height: 1.8em;
  line-height: 1.8em;
  background-color: #f76700;
  color: white;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
}
/*end*/



.modal-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;    
}

.modal-btn {
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s, opacity 0.2s;
    font-size: 1rem;
}

.modal-btn:hover {
    transform: translateY(-2px);
}

.allow-btn {
    background: #f76700;
    color: #fff;
    border: 1px solid #f76700;
}

.deny-btn {
    background: #fff;
    border: 1px solid #ddd;
    color: #151515;
}
