@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.ttf') format('true-type');
    font-weight: 400;
    font-style: Normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(251, 235, 211, 1) 100%);
    display: flex;
    color: #151515;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    text-shadow: 0px 1px 1px #fff;
}

.content {
    max-width: 480px;
    width: 90%;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0px;
    right: 0px;
    margin: auto;
    max-width: 480px;
    padding: 0px 20px;
    height: 50px;
    z-index: 1000;
    font-weight: 500;

    color: #151515;
}

h2 {
    margin-bottom: 50px;
    font-size: 2.5rem;
    font-weight: 500;
}

p {
    line-height: 1.5;
    margin-top: 20px;
    font-weight: 600;
    font-size: 1.3rem;
}



.down {
    font-size: 5rem;
}

.play-protect {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;

    gap: 5px;
    font-size: 0.875rem;
}

.play-protect ion-icon {
    font-size: 24px;
}

.copyright {

    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    max-width: 480px;
    right: 0;
    left: 0;
    margin: auto;
    font-size: 0.875rem;
    padding-bottom: 2px;
    color: #999;

}