@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
header button{
    background-color: transparent;
    color: #fff;
    border: none;
    margin: 0;
    padding: 0;
}
    header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 45px;
    background-color: #e77000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    color: #fff;
    z-index: 2;
}

header h2{
    font-size: 18px;
    font-weight: 500;
}

/* ICONES DO TOPO */

.icon-left, .icon-right {
    font-size: 24px;
    cursor: pointer;
}
.icon-left {
    margin-right: auto;
  }
  .icon-right {
    margin-left: auto;
  }


        body {
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f2f2f2;
        }
        .app-list {
            max-width: 600px;
            margin: 20px auto;
            padding: 10px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            margin-top: 45px;
        }
        .app-item {
            padding: 10px;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            border-bottom: 1px dashed #ccc;
        }
        .app-image {
            width: 70px;
            height: 70px;
            margin-right: 20px;
            border-radius: 10px;

        }
        .app-details {
            flex: 1;
        }
        .app-name {
            font-family: 'Inter',sans-serif;
            font-size: 18px;
            font-weight: bold;
        }
        .app-description {
            font-size: 14px;
            margin-top: 5px;
            text-align: justify;
            color: #5f6368;
        }
        .app-size {
            font-size: 12px;
            color: #555;
            margin-top: 5px;
        }
        .app-link {
            text-decoration: none;
            color: #202124;
            display: block;
        }
        .app-link a{
            target: _blank;
        }
        .app-link:hover {
            text-decoration: underline;
            color: orange;
        }
        button a{
            background: #e77000;
            color: white;
            width: 90px;
            padding: 3px 7px;
            border-radius: 5px;
            text-decoration: none;
        }
.busca{
    margin-bottom: 30px;
}
.search-bar{
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.search-bar button{
    background: #e77000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 7px;
    align-items: center;
    display: flex;
    
}
.search-bar input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: #f2f3f7;
    width: 100%;
    margin-right: 10px;
    font-size: 20px;
}
.search-bar input:hover{
    font-weight: bold;
}
.result{
    display: none;
    background: #f2f3f4;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
}
.result h3{
    margin-bottom: 10px;
    color: #777;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
}

/* Adicione estas regras CSS para posicionar a imagem ao lado do nome nos resultados da busca */
.search-result {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.search-result .app-image {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    border-radius: 10px;
}

.search-result .app-details {
    flex: 1;
}
