@charset "utf-8"; /* CSS Document */
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f1f4f9;
    text-align: center;
}

input {
    color: #fffff1;
    background: #ffffff;
    border: none;
    opacity: 0;
}

input:focus {
    outline: none;
}

input::selection {
    color: #fffff1;
    visibility: hidden;
    opacity: 0;
}

.key {
    color: #C70039;
    font-size: 12pt;
}

button {
    background: #C70039;
    font-weight: bold;
    border-radius: 30px;
    border: 2px solid #ffffff;
    color: #ffffff;
    cursor: pointer;
    margin-top: 5px;
    padding: 10px 20px;
    font-size: 14pt;
}

.swal {
    line-height: 1.1;
    color: #333;
    font-size: 22px;
}

.sucesso {
    font-size: 26px;
    color: #C70039;
}
