* {
    margin: 0px;
}

html, body {
    margin: 0px;
    padding: 0px;
    background: no-repeat center center fixed;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url(img/cover.png);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #000000;
    font-family: Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a, a:visited {
    color: #000000;
}

h1, h2 {
    text-align: center;
}

.hidden {
    display: none !important;
}

#installContainer {
    position: fixed;
    bottom: 5px;
    display: flex;
    justify-content: center;
    width: 100%;
}

#installContainer button {
    background-color: #00000066;
    border: 1px solid #ffffff2e;
    border-radius: 10px;
    color: #aaaaaa;
    font-size: 16px;
    padding: 5px;
    width: 100%;
    text-align: left;
    margin-left: 5px;
    margin-right: 5px;
}

.logo {
    width: 60px;
    height: 60px;
    border: none;
    float: left;
    margin-right: 5px;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    color: #ffffff75;
    align-items: center;
    height: 550px;
}

.content img {
    height: 430px
}

.content a {
    color: #fff;
    text-decoration: none;
}
