@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');
body {
     margin: 0;
     padding: 0;
     font-size: 16px;
     font-family: 'Roboto', sans-serif;
     color: #4a4a4a; 
     background: #fff;
 }
 h1{
    font-size: 1.5rem;
}
.swal2-popup{
    border-radius: 20px  !important;
}
.swal2-popup .swal2-title {
    display: block;
    position: relative;
    max-width: 100%;
    margin: 0 0 0.4em;
    padding: 0;
    color: #4a4a4a !important;
    font-size: 1.7em !important;
    font-weight: 700;
    text-align: center;
    text-transform: none;
    word-wrap: break-word;
}
.swal2-popup #swal2-content {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #4a4a4a;
}
a {
    color: #ffa500;
    text-decoration: none;
    
}
       
p{
    line-height: 1.4;
    text-align: justify;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #e77000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    color: white;
}

.icon {
    width: 24px;
    height: 24px;
    fill: #fff;
    cursor: pointer;
}

        /* Adicione os estilos para o ícone de compartilhamento */
        .share-icon {
            margin-left: 10px;
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        /* Estilos para o aviso */
.centered-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    text-align: center;
    border-radius: 10px;
    padding: 16px;
    display: none; /* Oculta o aviso por padrão */
        }
        /* Estilos para a div do conteúdo */
.content-box {
    height: 450px;
    background-color: #0f0f0f;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../image/banner-bradesco2.png);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
    border-bottom-left-radius: 20px; /* Raio de borda de 10px no canto inferior esquerdo */
    border-bottom-right-radius: 20px; /* Raio de borda de 10px no canto inferior direito */
    box-shadow: 0px 8px 30px 0px rgba(2, 24, 95, 0.3);
    }
 

        /* Estilos para o botão de fechamento */
        .close-button {
            position: absolute;
            top: 8px;
            right: 8px;
            width: 32px;
            height: 32px;

            background-color: #fff;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .close-button-icon {
            width: 20px;
            height: 20px;
            transition: fill 0.2s ease;
            
        }

        .close-button-icon:hover {
            fill: #000;
            
        }

        /* Estilos para o link do WhatsApp */
        .whatsapp-link {
            
            font-weight: bold;
            text-decoration: none;
            display: inline-block;
            margin-top: 16px;
            font-size: 18px; /* Aumenta o tamanho da fonte */
        }

        /* Estilos para a palavra "Aviso" */
        .aviso-title {
            color: #fff; /* Cor branca */
            font-size: 28px; /* Aumenta o tamanho da fonte */
            font-weight: bold;
        }
        .aviso-content{
            font-size: 33px;
            font-weight: 500;
            color: #fff;
            text-align: left;
            font-family: 'Montserrat', sans-serif;
            line-height: 1.1;
        }

        
        
        /* Estilos para o conteúdo da página */
        .content {
            margin-top: 25px;
            background-color: #fff; /* Fundo branco */
            border-radius: 10px; /* Raio de borda de 10px */
            padding: 10px; /* Espaçamento interno */
        }

input {
    opacity: 0;
}

.dica{
    line-height: 1.1;
    
}
        
     
/* botao proprities */

.button-copy {
        border-radius: 5px;
        border: none;
        color: #fff;
        cursor: pointer;
        font-size: 20px;
        font-weight: 500;
        padding: 0.5em 1em;
        background-color: #e77000;
        margin-bottom: 10px;
        margin-top: 10px;
}        
.dados-bancarios, ul, li{
        text-align: center;
        padding: 0;
        list-style: none;
        background-color: #eee;
        font-size: 14px;
}

.table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
}

.table-row {
  display: table-row;
}

.table-cell1 {
  display: table-cell;
  border-bottom: 1px solid #eaeaea;
  padding: 5px;
}
.table-cell2 {
  display: table-cell;
  border-bottom: 1px solid #eaeaea;
  padding: 5px;
  text-align: right;
  font-weight: 500;
}
.material-icons{
    cursor: pointer;
}
.material-icons:hover{
    background-color: none;
}
.material-icons:focus{
    background-color: none;
}
