@import url('https://fonts.cdnfonts.com/css/segoe-ui-4');
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    box-sizing: border-box;
}

html,
body {
    touch-action: pan-x pan-y;
    height: 100%;
    overflow: hidden;

}

body {

    Font-family: 'Wix Madefor Text', sans-serif;
    color: #000612;
    font-size: 16px;
    font-weight: 500;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.content {
    max-width: 480px;
    width: 100%;
    padding: 20px;
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.header {
    height: 50px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0px;
    right: 0px;
    margin: auto;
    max-width: 480px;
    background: #f76700;
    font-weight: 600;
    color: #fff;
}

/*posicioando icons e titulo a esquerda*/
header .icon:first-child {
    margin-right: 10px;
}

.header .title {
    flex: 1;
    text-align: left;
}
.copyright a{
    color: #999;
    text-decoration: none;
}
.header .icon {
    font-size: 24px;
    cursor: pointer;
    color: #fff;
}

.logo {
    display: flex;
    height: 20px;
}

/*DEFINED*/
.qrcode-container {
    text-align: center;
    margin: 20px auto;
    border-radius: 10px;
    background: #fff;
    width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.qrcode {
    height: 120px;
}

.dica {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}

.actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
}

.action {
    text-align: center;
    cursor: pointer;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.20);*/

}

.action p {
    font-size: 0.9rem;
    font-weight: 600;
    color: #000612;
}

.action .icon {
    font-size: 48px;
    margin-bottom: 5px;
    color: #f76700;
}

.notification {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2000;
    transition: transform 0.3s ease-in-out;
    transform: translateY(100%);
    max-width: 480px;
    margin: auto;
    -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* Para compatibilidade com navegadores antigos */
    -moz-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* Para Firefox antigo */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* Padrão */
}

.notification.show {
    display: flex;
    transform: translateY(0);
}

.notification-content {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.notification-logo {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.notification-text {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 700;
    color: #f76700;
}

.notification-subtext {
    margin: 0;
    font-size: 0.9rem;
}

#notification-message {
    margin-top: 10px;
    text-align: center;
    font-size: 1.1rem;
}

.close-button {
    margin-top: 10px;
    background-color: #F76700;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
}

.logo-site {
    width: 100%;
}

.logo-site img {
    border-radius: 10px;
}

.conta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 10px;
    background: #fff;
    margin-bottom: 2px;
    border-radius: 5px;
    width: 100%;
}

.conta strong {
    font-size: 0.8rem;
    font-weight: 500;

}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    max-width: 480px;
    right: 0;
    left: 0;
    margin: auto;
    font-size: 0.875rem;
    height: 20px;
    color: #999;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    /* Imagem padrão (para dispositivos móveis, por exemplo) */
    background-image: url('./image/bg-bank.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    z-index: 1500;
    display: none;
}

/* Alteração da imagem no desktop */
@media only screen and (min-width: 1024px) {
    .overlay {
        background-image: url('image/desktop-wallpaper.jpg');
        /* Imagem para desktop */
    }
}

.overlay.show {
    display: block;
}

/*LISTA*/

.lista {
    display: flex;
    align-items: center;
    text-align: left;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px dashed #999999;
}

.styled-list {
    list-style-type: none;
    padding: 0;
    counter-reset: list-counter;
}

.styled-list b {
    padding-left: 5px;
}

.styled-list li {
    position: relative;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.styled-list li:before {
    content: counter(li);
    counter-increment: li;
    flex-shrink: 0;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #F76700;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: 25px;
    width: 25px;
}

ol.styled-list {
    counter-reset: li;
}

.line {
    background-color: #999999;
    width: 50px;
    height: 5px;
    position: absolute;
    top: 4px;
    border-radius: 5px;
}
