.pix-key {
    display: flex;
    justify-content: center;
    margin: 0 15px;
}
.copy-button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 24px;
    margin-left: 10px;
}

    /* Estilo do popup */
.popup-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1000;
    animation: popupFade 0.3s ease-in-out; /* Adicionando animação */
    text-align: center;
}
.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 900;
}
 .popup-title{
    font-family: 'Inter', sans-serif;
    font-size: 26px;
    font-weight: 500;
    text-align: center;
}
 .popup-title strong{
    font-size: 28px;
    color: #FF526E;
    font-weight: 600;
}
.popup-message {
    margin-bottom: 20px;
}
.popup-buttons {
    text-align: center;
}
.popup-button {
    padding: 8px 20px;
    margin: 0 5px;
    background-color: #FF526E;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* Definindo animação */
@keyframes popupFade {
    from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
         }
    to{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
      }
}
.title{
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
}    
.sub-title{
    font-size: 22px;
    font-weight: 600;
}
.about{
    font-weight: 400;
    font-size: 16px;
}
.about-me{
    font-size: 14px;
    font-weight: normal;
    color: #888;
}
.fa{
    font-size: 32px;
    text-align: center;
}

button{
    margin: 0 10px;
    border: none;
    padding: 0;
    background-color: white;
    cursor: pointer;
}

button a{
    color: #98989c;
}
.footer, .about, .about-me{
    line-height: 1;
    text-align: center;
}
.chamada{
    background-color: #FFF0F2;
    padding: 5px 10px;
    font-weight: 500;
    color: #FF526F;
    border-radius: 10px;
    font-size: 24px;
}