
#popup-overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 999;
}
#popup {
    background-color: #0f0f0f;
    width: 326px;
    height: 389px;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(image/banner-itau.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    padding: 20px;
    margin: 50px;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    
}
#close-button {
    cursor: pointer;
    color: #FFF;
    position: absolute;
    top: -30px;
    right: 0;
    background-color: transparent;
    border: none;
        
}
#open-button {
    cursor: pointer;
}