@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
    background-color: #f0f4f9;
    margin: 0;
    display: flex;
    justify-content: center;
    color: #333333;
}
.content {
    max-width: 480px;
    width: 100%;
    padding: 20px;
    position: relative;
    z-index: 1;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0px;
    right: 0px;
    margin: auto;
    max-width: 480px;
    padding: 15px 20px;
    z-index: 1000;
    box-shadow: 0px 1px 5px 2px rgba(238, 238, 238, 1);
    background: #fff;
    
}
.header .icon {
    font-size: 24px;
    cursor: pointer;
    color: #F76700;
}
.logo {
    display: flex;
    margin-top: 50px;
    height: 30px;
}
.qrcode-container {
    text-align: center;
    margin: 20px auto;
    border-radius: 10px;
    background: #fff;
    padding: 5px;
    width: 120px;
    height: 120px;
}
.qrcode {
    height: 120px;
}
.dica {
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 0px 1px 1px #fff;
}
.actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.action {
    text-align: center;
    cursor: pointer;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    height: 80px;
    width: 90px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    border-bottom: 2px solid #dddddd;
}
.action p {
    font-size: 0.7rem;
}
.action .icon {
    font-size: 30px;
    margin-bottom: 5px;
    color: #F76700;
}
.notification {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2000;
    transition: transform 0.3s ease-in-out;
    transform: translateY(100%); 
    max-width: 480px;
    margin: auto;
}
.notification.show {
    display: flex;
    transform: translateY(0);
}
.notification-content {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.notification-logo {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}
.notification-text {
    margin: 0;
    font-size: 1.1rem;
}
.notification-subtext {
    margin: 0;
    font-size: 0.9rem;
}
#notification-message {
    margin-top: 10px;
    text-align: center;
    font-size: 1.1rem;
}
.close-button {
    margin-top: 10px;
    background-color: #f06800;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
}
.logo-site {
    width: 100%;
}
.logo-site img {
    border-radius: 10px;
}
.conta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    background: #FFFFFF;
    margin: 3px 0px;
    border-radius: 10px;
}
.conta strong {
    font-size: 0.85rem;
    font-weight: 500;
}
.copyright {
    background: #f0f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    max-width: 480px;
    right: 0;
    left: 0;
    margin: auto;
    font-size: 0.65rem;
    padding-bottom: 2px;
    text-shadow: 0px 1px 1px #fff;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    /*image*/
    background-image: url('image/wallpaper.jpg');
    background-size: cover; /* para cobrir todo o elemento */
    background-position: center; /* para centralizar a imagem */
    background-repeat: no-repeat; /* para evitar repetição da imagem */
    z-index: 1500;
    display: none;
}
.overlay.show {
    display: block;
}

/*LISTA*/

.lista {
    display: flex;
    align-items: center;
    text-align: left;
    margin-top: 20px;
    padding-top: 20px ;
    border-top: 1px dashed #999999;
    }

.styled-list {
    list-style-type: none;
    padding: 0;
}

.styled-list li {
    position: relative;
    padding-left: 40px;
    margin-bottom: 15px;
}

.styled-list li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #F76700;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

ol.styled-list {
    counter-reset: li;
}
