@font-face {
    font-family: 'Inter';
    src: url('../../fonts/Inter-Regular.ttf') format('TrueType');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../fonts/Poppins-Regular.ttf') format('TrueType');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    touch-action: pan-x pan-y;
}

html, body {
    height: 100%;
    font-family: 'Inter', sans-serif;
    color: #123354;
    padding: 10px;
    background-color: #f0ecf4;
}
h1{
    font-family: 'Poppins', sans-serif;
}
.open-modal {
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    background-color: #1e90ff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.modal {
    position: fixed;
    inset: 0;
    /*background: rgba(0, 0, 0, 0.7);*/
    background: #eff1f4;
    display: flex;
    z-index: 999;
    color: #333;
    
    transform: translateX(0);
    transition:  transform 0.5s ease, opacity 0.5s ease;
}

.modal:target {
    display: flex;
}
.modal:not(:target) {
    transform: translateX(-100%);
    opacity: 0;
    pointer-events: none;
}
.modal-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /*background: white;*/
}

.modal-frame {
    flex: 1;
    width: 100%;
    border: none;
}

.close-btn {
    text-align: center;
    padding: 10px;
    background: #f76700;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: none;
    margin: 0px 30px 10px;
    border-radius: 10px;
}



/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.logo {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.header-icons ion-icon {
    font-size: 24px;
    margin-left: 20x;
    color: #123354;
    cursor: pointer;
}
.header-icons img {
    margin-left: 10px;
    cursor: pointer;
}
/* MAIN CONTENT */
.main-content {
    margin-left: 0;
    padding: 10px 0;
}

/* SIDEBAR (inicialmente oculta) */
.sidebar {
    display: flex;
    flex-direction: column;
    /*gap: 20px;*/
    background-color: #ffffff;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    font-size: large;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 4;
    width: calc(100% - 0%);
    height: calc(100% - 60px);
}
.sidebar a {
    text-decoration: none;
    color: #123354;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    border-bottom: #ddd 1px solid;
    padding: 20px 0px;
    align-items: center;
}
.sidebar a:hover {
    color: #f76700;
}
.sidebar .icon {
    width: 24px;
    height: 24px;
}


/* FOOTER */
.footer-nav {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    background-color: #ffffff;
    border-top: 1px solid #e4e6eb;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0 5px;
    z-index: 5;
    border-radius: 20px 20px 0 0;
    height: 50px;
}

.footer-nav a {
    color: #123354;
    text-decoration: none;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-nav .icon {
    width: 24px;
    height: 24px;
    margin-bottom: 2px;
}
.close-ionic{
    text-align: center;
    background: #ffF;
    color: #F76700;
    text-decoration: none;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 20px;
    align-items: center;
    display: flex;
}
.ionic {
    width: 34px;
    height: 34px;
}
/* UTILITY */
.hidden {
    display: none !important;
}
