/* styles.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.player-container {
    width: 100%;
    max-width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player {
    background: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: background 0.3s, box-shadow 0.3s;
}

.player-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

.player-header h1 {
    font-size: 18px;
    margin: 0;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-center {
    flex: 1;
    text-align: center;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right ion-icon {
    margin-left: 10px;
}

.player-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex: 1;
}

.player-controls .info {
    text-align: center;
    margin-bottom: 10px;
}

.player-controls .info p {
    margin: 5px 0;
}

.player-controls input[type="range"] {
    width: 100%;
    margin-bottom: 10px;
}

.player-controls .controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-controls .controls button {
    background: none;
    border: none;
    margin: 0 10px;
    cursor: pointer;
}

#playlist-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

#playlist {
    background-color: #fff;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    overflow-y: auto;
    max-height: 80%;
    position: relative;
    z-index: 1001;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#playlist h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

#playlist-items {
    list-style-type: none;
    padding: 0;
}

#playlist-items li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#playlist-items li:hover {
    background-color: #f0f0f0;
}

#close-playlist {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #333;
}

@media (max-width: 768px) {
    .player-header {
        flex-direction: column;
        align-items: center;
    }

    .header-right {
        order: 3;
        margin-top: 10px;
    }
}
