<style>
@font-face {
    font-family: 'Inter';
    src: url('../../../fonts/Inter-Regular.ttf') format('TrueType');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {font-family: 'Poppins';
    src: url('../../../fonts/Poppins-Regular.ttf') format('TrueType');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    font-family: 'Poppins';
    color: #2b374a;
    background: #eff1f4;
    text-align: center;
    
}

.aproveite{
	background: #ffffff;
	padding: 20px;
	border-radius: 5px;
	border: 1px solid #ddd;
	font-size: 1.5rem;
	font-family: 'Poppins';
	line-height: 1.5;
	
}
.codepen{
background: #2b374a;
padding: 10px;
border-radius: 5px;
}
code{
color: #19ff00;
font-size: 0.9rem;
}
p{
font-size: 1.2rem;
line-height: 1.5;

}
iframe{
    height: calc(100dvh - 50px);
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
}
.header-app-lima {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    color: #fff;
    background-color: #f76700;
    height: 50px;
}
</style>

<h1 class="header-app-lima">BLOG EM TESTE</h1>
  <iframe src="https://applima.blogspot.com/" frameborder="0"></iframe>






