<style>
@font-face {
    font-family: 'Inter';
    src: url('../../../fonts/Inter-Regular.ttf') format('TrueType');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {font-family: 'Poppins';
    src: url('../../../fonts/Poppins-Regular.ttf') format('TrueType');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    font-family: 'Poppins';
    color: #2b374a;
    background: #eff1f4;
    text-align: center;
    
}

.aproveite{
	background: #ffffff;
	padding: 20px;
	border-radius: 5px;
	border: 1px solid #ddd;
	font-size: 1.5rem;
	font-family: 'Poppins';
	line-height: 1.5;
	
}
.codepen{
background: #2b374a;
padding: 10px;
border-radius: 5px;
}
code{
color: #19ff00;
font-size: 0.9rem;
}
p{
font-size: 1.2rem;
line-height: 1.5;

}
iframe{
    height: calc(100dvh - 30px);
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
}
.header-app-lima {
    font-family: 'Poppins', sans-serif;
   
    color: #fff;
    background-color: #f76700;
    height: 30px;
    font-size: 1.1rem;
    font-weight: bold;
    align-items: center;
    display: flex;
    justify-content: center;
}
.header-app-lima a {
    color: #fff;
    text-decoration: none;
}
</style>

<div class="header-app-lima">

<a href="https://wa.me/+5511930278541" target="_blank"><marquee><img src="/image/logo-whatsapp.svg" height="20" width="20" style="margin-bottom: -4px;"> Tem uma sugestão? Click aquí!</marquee></a>

</div>

  <iframe src="https://starlinkdown.blogspot.com/" frameborder="0"></iframe>



<script src="/js/links.js"></script>


