@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
*::before, *::after{
  padding: 0;
  margin: 0;
}
:root{
  --orange: #ffa500;
  --orangedark: #e77000;
  --lightblack: #ffffff;
  --white: #ffffff;
  --darkwhite: #cecaca;
  --pinkshadow: #ffcbdd;
  --lightbshadow: rgba(0,0,0,0.15);
  --copyright: #aaaaaa;
}
html{ background: #25252f; }
body{
  display: flex;
  align-items: center;
  background: linear-gradient(var(--orange) 0%, var(--orangedark) 100%);
  justify-content: center;
}
.wrapper{
  min-width: 480px;
  padding: 40px 20px;
  overflow: hidden;
  position: fixed;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url(bg-logo.png);
  box-shadow: 0px 6px 15px var(--lightbshadow);
  min-height: 100vh; /* Defina a altura mínima como 100% da altura da viewport */
  top: 0px;
}
}
.wrapper i{
  cursor: pointer;
}
.top-bar, .progress-area, 
.controls, .music-list .header, .music-list ul li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  /background: #25252f;
  padding: 10px 0;
  z-index: 1;
  max-width: 360px;
  left: 20px;
  right: 20px;
  margin: 0 auto;
}
.top-bar i{
  font-size: 30px;
  color: var(--lightblack);
}
.top-bar i:first-child{
  margin-left: 5px;
  margin-right: 0px;
}
.top-bar span{
  font-size: 18px;
  margin-left: -3px;
  color: var(--lightblack);
}
.img-area{
  max-width: 480px;
  margin: 0 auto;
  overflow: hidden;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 6px 12px var(--lightbshadow);
  z-index: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  
}
.img-area img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.song-details{
  text-align: center;
  top: 52%;
  left: 20px;
  right: 20px;
  position: fixed;
}
.song-details .name{
  font-size: 18px;
  font-weight: 500;
  color: #fff;

}
.song-details .artist{
  font-size: 16px;
  color: orange;
}
.progress-area{
  
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 0;
  z-index: 1;
  left: 20px;
  right: 20px;
  max-width: 340px;
  margin: 50px auto;
  height: 6px; /*altura da area progressiva em andamento*/
  border-radius: 50px;
  background: #23232C;
  cursor: pointer;
  top: 68%;
  
}
.progress-area .progress-bar{
  height: inherit;
  width: 340px;
  border-radius: inherit;
  background: linear-gradient(90deg, var(--orange) 0%, var(--orangedark) 100%);
  top: 440px;

}
.progress-bar::before{
  content: "";
  height: 6px;
  width: 12px;
  border-radius: 50%;
  right: -5px;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-50%);
  background: inherit;
  transition: opacity 0.2s ease;
}
.progress-area:hover .progress-bar::before{
  opacity: 1;
  pointer-events: auto;
}
.song-timer{

display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    
    z-index: 1;
    left: 20px;
    right: 20px;
    max-width: 360px;
    margin: 50px auto;
    top: 64%;
    
}
.progress-area .song-timer{
  
}
.song-timer span{
  font-size: 13px;
  color: #b3b3b5;
}
.controls{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0; /* Controles na base da página */
  z-index: 1;
  left: 20px;
  right: 20px;
  max-width: 360px;
  margin: 50px auto;
}
.controls i{
  font-size: 28px;
  user-select: none;
  background: linear-gradient(var(--orange) 0%, var(--orangedark) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.controls i:nth-child(2),
.controls i:nth-child(4){
  font-size: 43px;
}
.controls #prev{
  margin-right: -13px;
}
.controls #next{
  margin-left: -13px;
}
.controls .play-pause{
  height: 54px;
  width: 54px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(var(--white) 0%, var(--darkwhite) 100%);
  box-shadow: 0px 0px 5px var(--orange);
}
.play-pause::before{
  position: absolute;
  content: "";
  height: 43px;
  width: 43px;
  border-radius: inherit;
  background: linear-gradient(var(--orange) 0%, var(--orangedark) 100%);
}
.play-pause i{
  height: 43px;
  width: 43px;
  line-height: 43px;
  text-align: center;
  background: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
}

.music-list{
  position: relative;
  background-color: rgba(0,0,0,0.8);
  max-width: 70%;
  left: 14%;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  z-index: 5;
  padding: 10px;
  box-shadow: 0px -5px 10px rgba(0,0,0,0.1);
  transition: all 0.15s ease-out;
  height: -webkit-fill-available;
  
}
.music-list.show{
  bottom: 0;
  opacity: 1;
  pointer-events: auto;
}
.header .row{
  display: flex;
  align-items: center;
  font-size: 19px;
  color: var(--lightblack);
}
.header .row i{
  cursor: default;
}
.header .row span{
  margin-left: 5px;
}
.header #close{
  font-size: 22px;
  color: var(--lightblack);
  cursor: pointer;
}
.music-list ul{
  margin: 10px 0;
  overflow: auto;
}
.music-list ul::-webkit-scrollbar{
  width: 0px;
}
.music-list ul li{
  list-style: none;
  display: flex;
  cursor: pointer;
  padding-bottom: 10px;
  margin-bottom: 5px;
  color: var(--lightblack);
  border-bottom: 1px solid #3a3a47;
}
.music-list ul li:last-child{
  border-bottom: 0px;
}
.music-list ul li .row span{
  font-size: 14px;
  font-weight: 500;
}
.music-list ul li .row p{
  opacity: 0.9;
}
ul li .audio-duration{
  font-size: 12px;
}
ul li.playing{
  pointer-events: none;
  color: var(--orangedark);
}
button{
  border: none;
  cursor: pointer;
  background: none;
}
.title-player{
  
  font-weight: 500;
}
.volume{
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    left: 20px;
    right: 20px;
    margin:10px auto;
    max-width: 300px;
    top:65%;
}
#volumeMuteButton{
  color: var(--lightblack);
  align-items: center;
  display: flex;
  margin-right: 10px;
}

/*ESTILO DO CONTROLE DE VOLUME*/
#volumeSliderContainer {
            position: relative;
            width: 150px; /* Largura personalizável */
            height: 10px; /* Altura personalizável */
            background: #f0f0f0 !important; /* Cor de fundo do controle */
            border-radius: 5px !important; /* Borda arredondada */
        }

        #volumeSlider {
            
            background: #23232C;
            width: 85%;
            height: 3px;
            appearance: none;
            
        }

        #volumeSlider::-webkit-slider-thumb {
            appearance: none;
            width: 12px; /* Largura do polegar personalizável */
            height: 12px; /* Altura do polegar personalizável */
            background-color: orange; /* Cor do polegar personalizável */
            border-radius: 50%; /* Para tornar o polegar circular */
        }
.copyright{
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  color: var(--copyright);
  font-size: 12px;
  font-weight: 200;
}
