@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Open Sans:wght@400;500;600;700&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap'); * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    user-select: none;
}

*::before, *::after {
    padding: 0;
    margin: 0;
}

:root {
    --orange: #00ef89;
    --orangedark: #7e44fa;
    --lightblack: #ffffff;
    --white: #ffffff;
    --darkwhite: #cecaca;
    --pinkshadow: #ffcbdd;
    --lightbshadow: rgba(0,0,0,0.15);
    --copyright: #aaaaaa;
}

html {
    /*background: #25252f;*/
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    color: white;
    background: linear-gradient(45deg, #00EF89, #703DFC, #416DD8);
    background-size: 500% 200%;
    animation: gradientAnimation 5s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    min-width: 480px;
    padding: 40px 20px;
    overflow: hidden;
    position: fixed;
    background-image: linear-gradient(1deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url(bg-logo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 6px 15px var(--lightbshadow);
    min-height: 100vh;
    top: 0px;
}

.wrapper i {
    cursor: pointer;
}

.top-bar, .progress-area, .controls, .music-list .header, .music-list ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-bar {
        
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    padding: 10px 20px;
    z-index: 1;
    max-width: 480px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
}

.top-bar i {
    font-size: 30px;
    color: var(--lightblack);
}

.top-bar i:first-child {
    margin-left: 0px;
    margin-right: 0px;
}

.top-bar span {
    font-size: 16px;
    margin-left: -3px;
    color: var(--lightblack);
    font-family: 'Montserrat', sans-serif;
    opacity: 0.3;
}

.img-area {
    max-width: 480px;
    margin: 0 auto;
    overflow: hidden;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 6px 12px var(--lightbshadow);
    z-index: 0;
    position: fixed;
    display: flex;
    justify-content: center;
}

.img-area img {
    width: 90%;
    object-fit: cover;
    margin-top: 17%;
    border-radius: 10px;
}

.song-details {
    text-align: center;
    top: 55%;
    left: 20px;
    right: 20px;
    position: fixed;
}

.song-details .name {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.song-details .artist {
    font-size: 16px;
    font-weight: 400;
    color: #2ab2af;
    font-family: 'Montserrat', sans-serif;
}

.progress-area {
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 0;
    z-index: 1;
    left: 20px;
    right: 20px;
    max-width: 440px;
    margin: 0px auto;
    height: 3px;
    /*altura da area progressiva em andamento*/
    border-radius: 50px;
    background: #17213f;
    cursor: pointer;
    top: 75%;
}

.progress-area .progress-bar {
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(90deg, var(--orange) 0%, var(--orangedark) 100%);
}

.progress-bar::before {
    content: "";
    height: 6px;
    width: 12px;
    border-radius: 50%;
    right: -5px;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
    background: inherit;
    transition: opacity 0.2s ease;
}

.progress-area:hover .progress-bar::before {
    opacity: 1;
    pointer-events: auto;
}

.song-timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    left: 20px;
    right: 20px;
    max-width: 440px;
    margin: 0px auto;
    top: 76%;
}

.progress-area .song-timer {
}

.song-timer span {
    font-size: 10px;
    color: #b3b3b5;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    /* Controles na base da página */
    z-index: 1;
    left: 20px;
    right: 20px;
    max-width: 440px;
    margin: 0px auto;
    top: 84%;
    height: 60px;
}

.controls i {
    font-size: 28px;
    user-select: none;
    background: linear-gradient(#00fe81 0%, #7e44fa 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.controls i:nth-child(2), .controls i:nth-child(4) {
    font-size: 43px;
}

.controls #prev {
    margin-right: -13px;
}

.controls #next {
    margin-left: -13px;
}

.controls .play-pause {
    height: 54px;
    width: 54px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: linear-gradient(#4310af 0%, #0b0b0b 100%);
    box-shadow: 0px 0px 20px #7e44fa;
}

.play-pause::before {
    position: absolute;
    content: "";
    height: 43px;
    width: 43px;
    border-radius: inherit;
    background: linear-gradient(var(--orange) 0%, var(--orangedark) 100%);
}

.play-pause i {
    height: 43px;
    width: 43px;
    line-height: 43px;
    text-align: center;
    background: inherit;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
}

.music-list {
    position: fixed;
    background: rgba(0,0,0,0.9);
    max-width: 480px;
    left: 0px;
    right: 0px;
    opacity: 0;
    pointer-events: none;
    z-index: 5;
    padding: 10px;
    transition: all 0.15s ease-out;
    height: -webkit-fill-available;
    margin: 0 auto;
}

.music-list.show {
    bottom: 0;
    opacity: 1;
    pointer-events: auto;
}

.header .row {
    display: flex;
    align-items: center;
    font-size: 19px;
    color: var(--lightblack);
}

.header .row i {
    cursor: default;
}

.header .row span {
    margin-left: 5px;
}

.header #close {
    font-size: 22px;
    color: var(--lightblack);
    cursor: pointer;
}

.header #close {
    padding: 5px;
    background: #000;
    border-radius: 5px;
    border: 1px solid #492791 !important;
}

.music-list ul {
    margin: 10px 0;
    overflow: auto;
}

.music-list ul::-webkit-scrollbar {
    width: 0px;
}

.music-list ul li {
    list-style: none;
    display: flex;
    cursor: pointer;
    padding-bottom: 10px;
    margin-bottom: 5px;
    color: var(--lightblack);
    border-bottom: 1px solid #23232C;
}

.music-list ul li:last-child {
    border-bottom: 0px;
}

.music-list ul li .row span {
    font-size: 15px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.music-list ul li .row p {
    opacity: 0.9;
    color: #999;
}

ul li .audio-duration {
    font-size: 12px;
}

ul li.playing {
    pointer-events: none;
    color: var(--orangedark);
}

button {
    border: none;
    cursor: pointer;
    background: none;
}

.title-player {
    font-weight: 400;
    
}

.volume {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 20px;
    right: 20px;
    margin: 0px auto;
    max-width: 440px;
    top: 70%;
    justify-content: space-between;
}

#volumeMuteButton {
    color: #FFF;
    align-items: center;
    display: flex;
    margin-right: 10px;
    opacity: 0.4;
}

/*ESTILO DO CONTROLE DE VOLUME*/
#volumeSliderContainer {
    position: relative;
    width: 150px;
    /* Largura personalizável */
    height: 10px;
    /* Altura personalizável */
    background: #f0f0f0 !important;
    /* Cor de fundo do controle */
    border-radius: 5px !important;
    /* Borda arredondada */
}

#volumeSlider {
    background: #17213f;
    width: 90%;
    height: 3px;
    appearance: none;
    display: none;
}

#volumeSlider::-webkit-slider-thumb {
    appearance: none;
    width: 12px;
    /* Largura do polegar personalizável */
    height: 12px;
    /* Altura do polegar personalizável */
    background-color: #00fe81;
    /* Cor do polegar personalizável */
    border-radius: 50%;
    /* Para tornar o polegar circular */
}

.copyright {
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 9px;
    font-weight: 400;
    opacity: 0.3;
    letter-spacing: 1px;
    font-family: 'montserrat', sans-serif;
    /*font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";*/
}

p {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
}
