.content-box {
            background-color: #FFE7E5; /* Fundo cinza */
            padding: 16px;
            border-bottom-left-radius: 10px; /* Raio de borda de 10px no canto inferior esquerdo */
            border-bottom-right-radius: 10px; /* Raio de borda de 10px no canto inferior direito */
            box-shadow: 0px 8px 30px 0px rgba(2, 24, 95, 0.3);
        }

.aviso-bg {
            /background: linear-gradient(0deg, rgba(254,172,71,1) 0%, rgba(255,209,51,1) 100%); 
            background: radial-gradient(circle, rgba(136,136,136,1) 0%, rgba(51,51,51,1) 100%);
            border-top-left-radius: 10px; /* Raio de borda de 10px no canto superior esquerdo */
            border-top-right-radius: 10px; /* Raio de borda de 10px no canto superior direito */
            padding: 8px; /* Espaçamento interno para destacar o texto */
        }

.aviso-text {
            color: #fff; /* Cor branca */
            font-size: 24px; /* Aumenta o tamanho da fonte */
            font-weight: bold;
        }
.content-box {
            background-color: #FFE7E5; /* Fundo cinza */
            padding: 16px;
            border-bottom-left-radius: 10px; /* Raio de borda de 10px no canto inferior esquerdo */
            border-bottom-right-radius: 10px; /* Raio de borda de 10px no canto inferior direito */
            box-shadow: 0px 8px 30px 0px rgba(2, 24, 95, 0.3);
        }
.close-button {
            position: absolute;
            top: 8px;
            right: 8px;
            width: 32px;
            height: 32px;
            background-color: #ddd;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .close-button-icon {
            width: 20px;
            height: 20px;
            fill: #888;
            transition: fill 0.2s ease;
        }

        .close-button-icon:hover {
            fill: #000;
        }

        /* Estilos para o link do WhatsApp */
        .whatsapp-link {
            
            font-weight: bold;
            text-decoration: none;
            display: inline-block;
            margin-top: 16px;
            font-size: 18px; /* Aumenta o tamanho da fonte */
        }        
