@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap');
  body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

  }
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 45px;
    background-color: #ec7000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    color: #fff;
    z-index: 2;
}
.header-5pro{
    color: black !important;
    background-color: white !important;
}
header h2{
    font-size: 18px;
    font-weight: 500;
}

.icon-left, .icon-right {
    font-size: 24px;
    cursor: pointer;
}
.icon-left {
    margin-right: auto;
  }
  .icon-right {
    margin-left: auto;
  }
  .content {
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    bottom: 0;
    border: none;
    width: 100%;
    height: calc(100% - 45px);
    justify-content: center;
  }
/* Estilos para a div do conteúdo */
.content-box {
    padding: 16px;
    border-bottom-left-radius: 10px; /* Raio de borda de 10px no canto inferior esquerdo */
    border-bottom-right-radius: 10px; /* Raio de borda de 10px no canto inferior direito */
    box-shadow: 0px 8px 30px 0px rgba(2, 24, 95, 0.3);
    background-color: rgba(0, 0, 0, 0.7);
    background-size: cover;
}
/* Estilos para o aviso */
.centered-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    text-align: center;
    border-radius: 10px;
    padding: 16px;
    display: none;
}
/* Estilos para a palavra "Aviso" */
.aviso-title {
    color: #FFB900; /* Cor branca */
    font-size: 28px; /* Aumenta o tamanho da fonte */
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.aviso-content{
    font-size: 30px;
    font-weight: 500;
    color: #FFF;
}
/* Estilos para o fundo laranja da palavra "Aviso" */
.aviso-bg {
    background: #222;
    border-top-left-radius: 10px; /* Raio de borda de 10px no canto superior esquerdo */
    border-top-right-radius: 10px; /* Raio de borda de 10px no canto superior direito */
    padding: 8px; /* Espaçamento interno para destacar o texto */
}
/* Estilos para o botão de fechamento */
.close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 32px;
    height: 32px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.close-button-icon {
    width: 40px;
    height: 40px;
    fill: #f29200;
    transition: fill 0.2s ease;
}
.close-button-icon:hover {
    fill: #000;
}
/* Estilos para o link do WhatsApp */
.whatsapp-link {
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    margin-top: 16px;
    font-size: 18px; /* Aumenta o tamanho da fonte */
}
.material-icons-button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      outline: none;
    }
button{
    background-color: transparent;
    color: #fff;
    border: none;
    margin: 0;
    padding: 0;
}
.header-5pro button{
    background-color: #fff !important;
    color: black !important;
    border: none;
    margin: 0;
    padding: 0;
}

/* FIM DO ESTILO DO AVISO */

 .contenty {
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    bottom: 0;
    border: none;
    width: 100%;
    height: calc(100% - 45px);
    justify-content: center;

  }