@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    margin: 0;
    padding: 0;
    background:#DDE5EC;
    color: #545f7e;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 10px;
    padding-right: 10px;
}
.video{
    width:95vw;
}
