@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    color: #252e48;
}

.header {
    top: 0;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e77000;
    padding: 7px;
}
.header-logo {
    flex: 1;
    display: flex;
    justify-content: left;
 }   
.logo img {
    height: 40px; /* Ajuste a altura conforme necessário */
}
.logo-menu{
    margin: 0 auto;
    width: 280px;
    background-color: #e77000;
    padding-left: 14px;
    padding-top: 7px;
}

.logo-menu-image{
    width: 280px;
}
.header-icon-left {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    margin-right: 10px;
    margin-left: 11px;
    display: flex;
    align-items: center;
}
.header-icons-right{
    margin-right: 25px;
    color: white;

}

.header-icons-right a{
    color: white;
    cursor: pointer;
    margin-left: 10px;
}
.menu {
    position: relative;
}

.menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.menu-btn i{
    font-size: 30px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #fff no-repeat center center fixed;
    min-width: 280px;
    height: 100vh;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    z-index: 1;
    margin-top: 8px;
    top: -18px;
    left: -10px;
    background-image: url('../../image/dropdown-bg.png');
    /background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../image/dropdown-bg.png);
    background-position: left bottom;
 }
.dropdown-list{
    padding: 10px 16px;
    
}
.dropdown-content a {
    color: #252e48;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    padding: 12px 0;
    border-bottom: 1px solid #eaeaea;
    font-family: 'Nunito Sans', sans-serif;
    align-items:center;
}
.dropdown-content a img {
    margin-right: 10px;
}
.dropdown-content a i {
    margin-right: 20px;
    font-size: 16px;
}
.dropdown-content a:hover {
    margin-right: 20px;
    color:#FF7F00;
}
.close-menu .material-icons{
    color: #4a4a4a;
    font-weight: bold;
    cursor: pointer;
}
.close-menu i:hover{
    color: #FF7F00;
}
.content {
    line-height: 1.4;
    background: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.1);
    margin-top: 60px;
    margin-left: 10px;
    margin-right: 10px;
}

.extra-space {
    height: 70px; /* Altura do espaço extra */
}

/* FOOTER */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    border-top: 1px solid #e0e0e0;
    padding-top: 2px;
    padding-bottom: 2px;
}

.footer-icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50px;
}

.footer-icon-link {
    color: #252e48;
    text-decoration: none;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 10%;
    background-color: #fff;
    transition: background-color 0.3s ease;
}
.footer-icon-link img:hover, img:focus {
    color: #fff;
}

.footer-icon-link i {
    margin: 0;
}
.footer-icon-link:focus {
    color: #fff;
    background-color: #FF7F00;
}
.footer-icon-link:hover {
    color: #fff;
    background-color: #FF7F00;
}
.icon-text {
    color: #252e48;
    font-size: 12px;
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
}
h1{
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #4a4a4a;
}
.post{
    text-align: justify;
    font-size: 18px;
}
.post p{
    line-height: 1.4;
}

.post a{
    color: #ec7000;
    
}
.image-post{
    border-radius: 10px;
}
blockquote{
    background-color: #FFECDE;
    font-style: italic;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
}
