@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #1D1D1F;

  }
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 45px;
    background-color: #111111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    color: #fff;
    z-index: 2;

}

.icon-left, .icon-right {
    font-size: 24px;
    cursor: pointer;
}
.icon-left {
    margin-right: auto;
  }
  .icon-right {
    margin-left: auto;
  }
  .content {
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    bottom: 0;
    border: none;
    width: 100%;
    height: calc(100% - 45px);
    justify-content: center;
  }
