<!-- modalAcesso -->
<div id="modalAcesso" class="modal-acesso" style="display: none;">
   <div class="modal-acesso-content">
      <ion-icon name="close-outline" class="modal-acesso-close" onclick="fecharModalAcesso()"></ion-icon>

      <div class="login-tabs">
         <button type="button" class="tab-btn active" data-tab="login" onclick="alternarAba('login')">Login</button>
         <button type="button" class="tab-btn" data-tab="register" onclick="alternarAba('register')">Criar
            Conta</button>
      </div>

      <!-- Login -->
      <div id="login-tab" class="tab-content active">
         <button onclick="loginComGoogle()" class="google-btn">
            <img src="image/google-icon.svg" alt="Google">
            Entrar com Google
         </button>

         <div class="login-separator"><span>ou</span></div>

         <form onsubmit="event.preventDefault(); loginComEmail(this.email.value, this.password.value)">
            <input type="email" name="email" class="form-input" placeholder="Seu email" required>

            <div class="senha-container">
               <input type="password" name="password" class="form-input senha-input" placeholder="Sua senha" required>
                 <img src="image/eye-off.svg" width="24" class="senha-toggle" onclick="toggleSenha(this)" alt="Mostrar senha">

            </div>
            <button type="submit" class="login-btn">Entrar com Email</button>
         </form>

         <div class="recuperar-senha">
            <a href="#" onclick="recuperarSenha()">Esqueceu a senha?</a>
         </div>
      </div>

      <!-- Registro -->
      <div id="register-tab" class="tab-content">
         <form onsubmit="event.preventDefault(); criarConta(this.email.value, this.password.value, this.nome.value)">
            <input type="text" name="nome" class="form-input" placeholder="Seu nome" required>
            <input type="email" name="email" class="form-input" placeholder="Seu email" required>
            
            <div class="senha-container">
               <input type="password" name="password" class="form-input senha-input" placeholder="Sua senha" required>
                 <img src="image/eye-off.svg" width="24" class="senha-toggle" onclick="toggleSenha(this)" alt="Mostrar senha">

            </div>

            <button type="submit" class="register-btn">Criar Conta</button>
         </form>
      </div>

      <div class="auth-message" id="auth-message"></div>

      <!-- Sair -->
      <div class="logout-area">
         <button onclick="deslogar()" class="logout-btn">Sair</button>
      </div>
   </div>

 


</div>