<div id="splash-preloader">
      <div id="ctn-preloader" class="ctn-preloader">
         <div class="animation-preloader">
            <div class="spinner"></div>
            <div class="txt-loading">
               <span data-text-preloader="W" class="letters-loading">
                  W
               </span>
               <span data-text-preloader="A" class="letters-loading">
                  A
               </span>
               <span data-text-preloader="L" class="letters-loading">
                  L
               </span>
               <span data-text-preloader="T" class="letters-loading">
                  T
               </span>
               <span data-text-preloader="E" class="letters-loading">
                  E
               </span>
               <span data-text-preloader="M" class="letters-loading">
                  M
               </span>
               <span data-text-preloader="A" class="letters-loading">
                  A
               </span>
               <span data-text-preloader="R" class="letters-loading">
                  R
               </span>
            </div>
            <div class="copyright">Desenvolvimetos Web - 2025</div>
            
            <div class="splash-loader">
      <div class="splash-loader-row">
        <div class="splash-loader-section splash-left"><div class="splash-bg"></div></div>
        <div class="splash-loader-section splash-left"><div class="splash-bg"></div></div>
        <div class="splash-loader-section splash-right"><div class="splash-bg"></div></div>
        <div class="splash-loader-section splash-right"><div class="splash-bg"></div></div>
      </div>
    </div>


         </div>
         <div class="loader">
            <div class="row">
               <div class="col-3 loader-section section-left">
                  <div class="bg"></div>
               </div>
               <div class="col-3 loader-section section-left">
                  <div class="bg"></div>
               </div>
               <div class="col-3 loader-section section-right">
                  <div class="bg"></div>
               </div>
               <div class="col-3 loader-section section-right">
                  <div class="bg"></div>
               </div>
            </div>
         </div>
      </div>
   </div>