@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');
* {
margin: 0;
padding: 0;
}
body {
font-family: 'Roboto', sans-serif;
background-color: #f0f0f0;
color: #311E56;
transition: background-color 0.3s, color 0.3s;
user-select: none;
-webkit-tap-highlight-color: transparent;
margin: 0;
padding: 0;
}
.player-container {
display: flex;
justify-content: center;
align-items: center;
height: 100%;
}
.player {
background: #f0f0f0;
width: 100%;
max-width: 400px;
overflow: hidden;
display: flex;
flex-direction: column;
top: 0;
bottom: 0;
height: 100%;
}
.player-header {
height: 30px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0px;
border-bottom: 1px solid #ffffff3d;
}
.player-header h1 {
font-size: 18px;
font-weight: 400;
color: #311E56;
}
.player-header button {
background: none;
border: none;
font-size: 24px;
cursor: pointer;
color: #311E56;
transition: color 0.3s;
}
.player-controls {
padding: 10px;
text-align: center;
display: flex;
flex-direction: column;
justify-content: space-between;
flex: 1;
}
#music-player {
width: 100%;
height: 300px;
margin-bottom: 20px;
pointer-events: none;
}
.info {
align-items: center;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 65%;
    width: 100%;
    left: 0;
}
.info .title {
font-size: 18px;
font-weight: 600;
}
.info .artist {
font-size: 16px;
font-weight: 400;
}
input[type="range"] {
-webkit-appearance: none;
width: 100%;
background: #ddd;
height: 3px;
border-radius: 5px;
outline: none;
opacity: 0.7;
transition: opacity .15s ease-in-out;
}
input[type="range"]:hover {
opacity: 1;
}
/* Webkit Browsers (Chrome, Safari, Edge) */
input[type="range"]::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 20px;
height: 20px;
background: #00FFBF;
cursor: pointer;
border-radius: 50%;
border: 2px solid #fff;
margin-top: -9px;
}
/* Mozilla Browsers (Firefox) */
input[type="range"]::-moz-range-thumb {
width: 20px;
height: 20px;
background: #00FFBF;
cursor: pointer;
border-radius: 50%;
border: 2px solid #fff;
}
/* IE Browsers */
input[type="range"]::-ms-thumb {
width: 20px;
height: 20px;
background: #00FFBF;
cursor: pointer;
border-radius: 50%;
border: 2px solid #fff;
}
.controls {
display: flex;
justify-content: space-around;
align-items: center;
margin-top: 10px;
height: 60px;
position: fixed;
bottom: 30px;
margin-left: 10px;
margin-right: 10px;
gap: 20px;
right: 0;
left: 0;
}
.control-button {
background: none;
border: none;
font-size: 32px;
cursor: pointer;
color: #311E56;
transition: color 0.3s;
}
.play-outline {
font-size: 32px;
border: 2px solid #311E56;
border-radius: 50px;
padding: 7px 5px 7px 9px;
}
.pause-outline {
font-size: 32px;
border: 2px solid #311E56;
border-radius: 50px;
padding: 7px;
}
.control-button:hover {
color: #F966D6;
}
.progress-container {
display: flex;
align-items: center;
justify-content: space-between;
margin-top: 0px;
bottom: 100px;
position: fixed;
left: 10px;
right: 10px;
}
#progress {
flex: 1;
margin: 0 10px;
}
.repeat-number {
    font-size: 10px;
    color: #000;
    background: #00ffbf;
    border-radius: 50%;
    padding: 2px;
    display: flex;
    position: fixed;
    bottom: 75px;
    left: 28px;
    width: 10px;
    justify-content: center;
    align-items: center;
}
/* PLAYLIST CONFIG */
#playlist-overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.8);
display: none;
justify-content: center;
align-items: center;
}
#playlist {
background: #fff;
padding: 10px;
border-radius: 10px;
width: 90%;
max-width: 400px;
text-align: left;
}
#playlist h2 {
margin-top: 0;
font-weight: 400;
font-size: 18px;
height: 40px;
}
#playlist ul {
list-style-type: none;
padding: 0;
margin: 0;
max-height: 500px;
overflow-y: auto;
}
#playlist ul li {
display: flex;
align-items: center;
padding: 10px;
border-bottom: 1px solid #ffffff3d;
}
#playlist ul li img {
width: 60px;
height: 45px;
margin-right: 10px;
}
#playlist ul li span {
flex: 1;
}
#playlist ul li:hover {
background: #f0f0f0;
cursor: pointer;
}
#close-playlist {
margin-top: 0px;
right: 40px;
position: absolute;
background: none;
border: none;
color: #311E56;
cursor: pointer;
font-size: 32px;
}
#close-playlist:hover {
text-decoration: underline;
}
/*MODO DARK*/
.dark-mode #close-playlist {
color: #00ffbf;
}
.dark-mode .player-header h1 {
font-size: 18px;
font-weight: 400;
color: #00FFBF;
}
.dark-mode {
background-color: #121212;
color: #ffffff;
}
.dark-mode .player {
background: #0f0f0f;
box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}
.dark-mode .player-header {
border-bottom: 1px solid #311E56;
}
.dark-mode .player-header button {
color: #00FFBF;
}
.dark-mode .play-outline {
border: 2px solid #00FFBF;
}
.dark-mode .play-outline:hover {
color: #F966D6;
border: 2px solid #F966D6;
}
.dark-mode .pause-outline {
color: #311E56;
background: #00ffbf;
}
.dark-mode .control-button {
color: #00FFBF;
}
.dark-mode .control-button:hover {
color: #00FFBF;
}
.dark-mode .info .artist {
color: #aaaaaa;
}
.dark-mode #playlist-overlay {
background: rgba(18, 18, 18, 0.8);
}
.dark-mode #playlist {
background: #00000070;
color: #ffffff;  
}
.dark-mode #playlist ul li {
padding: 10px;
border-bottom: 1px solid #6666663d;
}
.dark-mode #playlist ul li:hover{
  color: #00FFBF;
  background: #0f0f0f;
}
.dark-mode #playlist-items .title {
    font-weight: 500;
    color: #f1f1f1;
}

.dark-mode #playlist-items .author {
    color: #AAAAAA;
    font-size: 0.9em;
}
/* Adicionando o preenchimento dinâmico */
input[type="range"]::-webkit-slider-runnable-track {
background: linear-gradient(to right, #00FFBF, #00FFBF) 0% / var(--slider-value) 100% no-repeat, #ddd;
height: 3px; /* Define a altura do preenchimento dinâmico */
border-radius: 5px;
}
input[type="range"]::-moz-range-track {
background: linear-gradient(to right, #00FFBF, #00FFBF) 0% / var(--slider-value) 100% no-repeat, #ddd;
height: 3px; /* Define a altura do preenchimento dinâmico */
border-radius: 5px;
}
input[type="range"]::-ms-track {
background: linear-gradient(to right, #00FFBF, #00FFBF) 0% / var(--slider-value) 100% no-repeat, #ddd;
height: 3px; /* Define a altura do preenchimento dinâmico */
border-radius: 5px;
}
input[type="range"]::-ms-fill-lower {
background: #00FFBF;
height: 3px; /* Define a altura do preenchimento dinâmico */
border-radius: 5px;
}
input[type="range"]::-ms-fill-upper {
background: #ddd;
height: 3px; /* Define a altura do preenchimento dinâmico */
border-radius: 5px;
}
/* Media query para modo paisagem */
@media (orientation: landscape) {
.player {
flex-direction: row;
max-width: 100%;
height: 100vh;
}
#music-player {
width: 50%;
height: 100%;
}
.info {
align-items: center;
display: flex;
flex-direction: column;
justify-content: center;
position: relative;
top: 25%;  
}
.player-controls {
width: 50%;
height: 40%;
padding: 20px;
}
.player-header {
height: auto;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
border-top-left-radius: 0;
border-top-right-radius: 0;
}
.progress-container {
left: 50%;
display: flex;
align-items: center;
margin-left: 10px;
position: fixed;
bottom: 70px;
}
.controls {
left: 50%;
display: flex;
align-items: center;
justify-content: space-around;
position:fixed;
bottom: 5px;
}
#playlist {
padding: 10px;
display: flex;
left: 50%;
position: absolute;
top: 0;
border-radius: none;
}
#playlist h2{
   display: none;
}
#close-playlist {
position: absolute;
top: 10px;
right: 50px;
background: none;
border: none;
font-size: 32px;
color: #00FFBF;
cursor: pointer;
}
#close-playlist:hover {
color: #d35500;
}
.repeat-number {
    font-size: 10px;
    color: #000;
    background: #00ffbf;
    border-radius: 50%;
    padding: 2px;
    display: flex;
    position: fixed;
    bottom: 55px;
    left: 54.4%;
    width: 10px;
    justify-content: center;
    align-items: center;
}   
}

/*playlist new design*/
#playlist-items li {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

#playlist-items img {
    width: 120px;
    height: 90px;
    margin-right: 15px;
    border-radius: 10px;
}

#playlist-items .text-container {
    display: flex;
    flex-direction: column;
}
#playlist-items .title {
    font-weight: 500;
}

#playlist-items .author {
    font-size: 0.9em;
}

