@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: bold;
    font-display: swap;
  }
  
.notification-modal {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    background: #f1f2f4;
    color: #151515;
    padding: 20px;
    z-index: 1000;
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 999;
}

.modal-header {
    text-align: center;
    margin-bottom: 20px;
}

.modal-header img {
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    border-radius: 50%;
}

.modal-title {
    color: #f76700;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.modal-content {
    text-align: left;
    margin-bottom: 25px;
    font-size: 1.2rem;
}

.modal-content ol {
    line-height: 1.5;
    margin: 10px 0;
    
}

.modal-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.modal-btn {
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s, opacity 0.2s;
}

.modal-btn:hover {
    transform: translateY(-2px);
}

.allow-btn {
    background: #f76700;
    color: white;
}

.deny-btn {
    background: #fff;
    border: 1px solid #ddd;
    color: #151515;
}
